<div class="container" *ngIf="monument">

    <!-- Images -->
    <div class="carousel-container" *ngIf="monument.getPhotos().length > 0">
        <ngb-carousel>
            <ng-template ngFor let-photo [ngForOf]="monument.getPhotos()" let-i="index">
                <ng-template ngbSlide>
                    <div class="slide cursor-pointer" (click)="openGallery(i)"
                         [ngStyle]="{'background-image': 'url(\'' + photo.thumbnailUrl + '\')'}"></div>
                </ng-template>
            </ng-template>
        </ngb-carousel>
    </div>

    <!-- Monument -->
    <div class="main-title"><span translate>MONUMENT.MONUMENT</span> #{{ monument.id }}</div>
    <div class="row">

        <!-- Basic -->
        <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6">

            <div class="card mb-3">
                <h4 class="card-header text-ellipsis"><span translate>MONUMENT.DATA</span></h4>
                <div class="card-img-top">
                    <div class="card-img-top-limc"
                         [ngStyle]="{'background-image': 'url(' + monument.getPhoto().thumbnailUrl + ')'}"></div>
                </div>
                <div class="list-group list-group-flush">
                    <div class="list-group-item">
                        <div class="title"><span translate>MONUMENT.PERSISTENT_ID</span></div>
                        <div class="line text-ellipsis">
                            <a href="{{ 'http://ark.dasch.swiss/' + monument.handleId }}">
                                {{ 'http://ark.dasch.swiss/' + monument.handleId }}
                            </a>
                        </div>
                    </div>
                    <div class="list-group-item">
                        <div class="title"><span translate>MONUMENT.OBJECT</span></div>
                        <div class="line"><strong><span translate>GENERAL.ID</span>:</strong> {{ monument.id }}</div>
                        <div class="line" *ngIf="monument.object"><strong><span translate>MONUMENT.TYPE</span>:</strong>
                            {{ monument.object }}
                        </div>
                        <div class="line" *ngIf="monument.artist?.length > 0"><strong><span
                                translate>MONUMENT.ARTIST</span>:</strong> {{ monument.artist }}
                        </div>
                        <div class="line" *ngIf="monument.origin"><strong>
                            <span translate>MONUMENT.ORIGIN</span>:</strong> {{ monument.origin }}
                        </div>
                        <div class="line" *ngIf="monument.category?.length > 0">
                            <strong><span translate>MONUMENT.CATEGORY</span>:</strong>
                            {{ monument.category }}
                        </div>
                        <div class="line" *ngIf="monument.material as material">
                            <strong><span translate>MONUMENT.MATERIAL</span>:</strong> {{ material }}
                        </div>
                        <div class="line" *ngIf="monument.discovery">
                            <strong><span translate>MONUMENT.DISCOVERY</span>:</strong> {{ monument.discovery }}
                            <ng-container *ngIf="monument.discoveryDetail.length > 0">({{
                                monument.discoveryDetail.join(", ") }})
                            </ng-container>
                        </div>
                        <div class="line" *ngIf="monument.dating[0]?.period as period">
                            <strong><span translate>MONUMENT.DATING</span>:</strong> {{ period | date }}
                        </div>
                    </div>
                    <div class="list-group list-group-flush" *ngIf="monument.description">
                        <div class="list-group-item">
                            <div class="title"><span translate>MONUMENT.DESCRIPTION</span></div>
                            <div class="line" [innerHtml]="monument.description | linky"></div>
                        </div>
                    </div>

                    <div class="list-group list-group-flush"
                         *ngIf="monument.inscription || monument.inscriptionUrl.length > 0">
                        <div class="list-group-item">
                            <div class="title"><span translate>MONUMENT.INSCRIPTION</span></div>
                            <div class="line">{{ monument.inscription }}</div>
                            <div class="line text-ellipsis" *ngFor="let url of monument.inscriptionUrl">
                                <a href="{{ url }}" target="_blank">{{ url }}</a>
                            </div>
                        </div>
                    </div>
                    <div class="list-group list-group-flush" *ngIf="monument.bibliography">
                        <div class="list-group-item">
                            <div class="title"><span translate>MONUMENT.BIBLIOGRAPHY</span></div>
                            <div class="line">{{ monument.bibliography }}</div>
                        </div>
                    </div>
                    <div class="list-group list-group-flush" *ngIf="monument.technique.length > 0">
                        <div class="list-group-item">
                            <div class="title"><span translate>MONUMENT.TECHNIQUE</span></div>
                            <div class="line" *ngFor="let technique of monument.technique">
                                {{ technique }}
                            </div>
                        </div>
                    </div>
                    <div class="list-group list-group-flush" *ngIf="monument.scenename.length > 0">
                        <div class="list-group-item">
                            <div class="title"><span translate>MONUMENT.NAMES</span></div>
                            <div class="line">
                                {{ monument.scenename.join(", ") }}
                            </div>
                        </div>
                    </div>
                    <div class="list-group list-group-flush" *ngIf="monument.keyword.length > 0">
                        <div class="list-group-item">
                            <div class="title"><span translate>MONUMENT.KEYWORDS</span></div>
                            <div class="line">
                                {{ monument.keyword }}
                            </div>
                        </div>
                    </div>
                    <div class="list-group list-group-flush" *ngIf="monument.monumentUrl.length > 0">
                        <div class="list-group-item">
                            <div class="title"><span translate>MONUMENT.LINKS</span></div>
                            <div class="line text-ellipsis" *ngFor="let url of monument?.monumentUrl">
                                <a href="{{ url | url }}" target="_blank">{{ url | url }}</a>
                            </div>
                        </div>
                    </div>
                    <div class="list-group list-group-flush" *ngIf="monument.comment">
                        <div class="list-group-item">
                            <div class="title"><span translate>MONUMENT.COMMENT</span></div>
                            <div class="line">{{ monument.comment }}</div>
                        </div>
                    </div>
                </div>

            </div>

        </div>

        <!-- Inventory / Museum -->
        <ng-container *ngIf="monument.inventory">

            <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6">

                <ng-container *ngFor="let inventory of monument.inventory">
                    <ng-container *ngIf="inventory.museum as museum">

                        <div class="card mb-3" *ngIf="museum.latitude">
                            <h4 class="card-header text-ellipsis"><span translate>MONUMENT.LOCATION</span></h4>
                            <agm-map [latitude]="museum.latitude" [longitude]="museum.longitude">
                                <agm-marker [latitude]="museum.latitude" [longitude]="museum.longitude"></agm-marker>
                            </agm-map>
                        </div>

                        <div class="card">
                            <h4 class="card-header text-ellipsis"><span translate>MONUMENT.MUSEUM</span></h4>
                            <div class="list-group list-group-flush">
                                <div class="list-group-item">
                                    <div class="title"><span translate>MONUMENT.ADDRESS</span></div>
                                    <div class="line">{{ museum.name }}</div>
                                    <div class="line">{{ museum.city }}</div>
                                </div>
                                <div class="list-group-item">
                                    <div class="title"><span translate>MONUMENT.INVENTORY</span></div>
                                    <div class="line">{{ inventory.number }}</div>
                                </div>
                                <div class="list-group-item">
                                    <div class="title"><span translate>MONUMENT.PHOTO_RIGHTS</span></div>
                                    <div class="line" *ngIf="museum.photoCredit">{{ museum.photoCredit }}</div>
                                </div>
                                <div class="list-group-item" *ngIf="museum.comment">
                                    <div class="title"><span translate>MONUMENT.COMMENT</span></div>
                                    <div class="line">{{ museum.comment }}</div>
                                </div>
                                <div class="list-group-item" *ngIf="monument.museumUrl.length > 0">
                                    <div class="title"><span translate>MONUMENT.LINKS</span></div>
                                    <div class="line text-ellipsis" *ngFor="let url of monument.museumUrl">
                                        <a href="{{ url | url }}" target="_blank">{{ url | url }}</a>
                                    </div>
                                </div>
                            </div>
                        </div>


                    </ng-container>
                </ng-container>
            </div>

        </ng-container>

    </div>

    <!-- Scene -->
    <div class="row" *ngFor="let scene of monument?.scene; let i = index">

        <div class="col-12 main-title">
            <span translate>MONUMENT.SCENE</span><span class="ml-1" *ngIf="monument?.scene.length > 1">{{ i+1 }}</span>
        </div>

        <!-- Scene Data -->
        <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6">

            <div class="card mb-3">
                <h4 class="card-header text-ellipsis"><span translate>MONUMENT.DATA</span></h4>
                <div class="list-group list-group-flush">
                    <div class="list-group-item">
                        <div class="title"><span translate>MONUMENT.OBJECT</span></div>
                        <div class="line"><strong><span translate>GENERAL.ID</span>:</strong> {{ scene.id }}</div>
                    </div>
                </div>
                <div class="list-group list-group-flush" *ngIf="scene.description">
                    <div class="list-group-item">
                        <div class="title"><span translate>MONUMENT.DESCRIPTION</span></div>
                        <div class="line" [innerHtml]="scene.description | linky"></div>
                    </div>
                </div>
                <div class="list-group list-group-flush" *ngIf="scene.inscription">
                    <div class="list-group-item">
                        <div class="title"><span translate>MONUMENT.INSCRIPTION</span></div>
                        <div class="line">{{ scene.inscription }}</div>
                    </div>
                </div>
                <div class="list-group list-group-flush" *ngIf="scene.bibliography">
                    <div class="list-group-item">
                        <div class="title"><span translate>MONUMENT.BIBLIOGRAPHY</span></div>
                        <div class="line">{{ scene.bibliography }}</div>
                    </div>
                </div>
                <div class="list-group list-group-flush" *ngIf="scene.scenename.length > 0">
                    <div class="list-group-item">
                        <div class="title"><span translate>MONUMENT.NAMES</span></div>
                        <div class="line">
                            {{ scene.scenename.join(", ") }}
                        </div>
                    </div>
                </div>
                <div class="list-group list-group-flush" *ngIf="scene.keyword.length > 0">
                    <div class="list-group-item">
                        <div class="title"><span translate>MONUMENT.KEYWORDS</span></div>
                        <div class="line">
                            {{ scene.keyword.join(", ") }}
                        </div>
                    </div>
                </div>
                <div class="list-group list-group-flush" *ngIf="scene.url.length > 0">
                    <div class="list-group-item">
                        <div class="title"><span translate>MONUMENT.LINKS</span></div>
                        <div class="line text-ellipsis" *ngFor="let url of scene.url">
                            <a href="{{ url | url }}" target="_blank">{{ url | url }}</a>
                        </div>
                    </div>
                </div>
                <div class="list-group list-group-flush" *ngIf="scene.comment">
                    <div class="list-group-item">
                        <div class="title"><span translate>MONUMENT.COMMENT</span></div>
                        <div class="line">{{ scene.comment }}</div>
                    </div>
                </div>
            </div>

        </div>

        <!-- Catalogs -->
        <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6"
             *ngIf="scene.catalogLimc?.length > 0 || scene.catalogThesCRA?.length > 0">

            <!-- LIMC -->
            <div class="card mb-3" *ngIf="scene.catalogLimc.length > 0">
                <h4 class="card-header text-ellipsis">LIMC</h4>
                <div class="list-group list-group-flush">
                    <div class="list-group-item py-1" *ngFor="let limc of scene.catalogLimc">
                        <div class="line">
                            {{ limc.article }}
                            {{ limc.volume ? "(vol "+limc.volume+")" : "" }}
                            {{ limc.catalogNumber }}
                            {{ limc.asterix ? "(*)" : "( )" }}
                            {{ limc.dot ? "(.)" : "( )" }}
                        </div>
                    </div>
                </div>
            </div>

            <!-- ThesCRA -->
            <div class="card" *ngIf="scene.catalogThesCRA.length > 0">
                <h4 class="card-header text-ellipsis">ThesCRA</h4>
                <div class="list-group list-group-flush">
                    <div class="list-group-item py-1" *ngFor="let thesCRA of scene.catalogThesCRA">
                        <div class="line">
                            {{ thesCRA.catalogThesCraChapter.name }}
                            {{ thesCRA.indexnumber }}
                            {{ thesCRA.catalogThesCraChapter.volumenumber ? "(vol "+thesCRA.catalogThesCraChapter.volumenumber+")" : "" }}
                            {{ thesCRA.catalogThesCraChapter.mainChapter ? "(ch "+thesCRA.catalogThesCraChapter.mainChapter+"" : "" }}
                            {{ thesCRA.asterix ? "(*)" : "( )" }}
                            {{ thesCRA.dot ? "(.)" : "( )" }}
                        </div>
                    </div>
                </div>
            </div>

        </div>
        
        <!-- Citation -->
        <div class="container">
            <div class="fc-hint text-left">
                <span translate>MONUMENT.CITATION</span>, {{ currentYear}}, <span translate>MONUMENT.PERSISTENT_ID</span>.
            </div>
        </div>
            
    </div>

    <app-photo-modal #gallery></app-photo-modal>

</div>

<div class="container" *ngIf="monument === null">
    <div class="loading">
        <span translate>SEARCH.LOADING_DATA</span>...
    </div>
</div>
