<ng-template #modal let-c="close" let-d="dismiss">
    <div class="image">
        <img src="{{ imageUrls[activeIndex] }}" alt="img"/>
        <div class="left cursor-pointer" (click)="previous()">
            <span class="carousel-control-prev-icon"></span>
        </div>
        <div class="right cursor-pointer" (click)="next()">
            <span class="carousel-control-next-icon"></span>
        </div>
    </div>
    <div class="row p-3">
        <div class="col-4 text-left">
            <button type="button" class="btn btn-outline-secondary" (click)="previous()">
                <i class="icon-arrow-left"></i></button>
        </div>
        <div class="col-4 text-center pt-2">
            Bild {{ activeIndex + 1 }} von {{ imageUrls.length }}
        </div>
        <div class="col-4 text-right">
            <button type="button" class="btn btn-outline-secondary" (click)="next()">
                <i class="icon-arrow-right"></i></button>
        </div>
    </div>
</ng-template>