<ng-container *ngIf="options.length === 1">
    <select class="form-control" [formControl]="formControl" required (change)="onValueChanged.emit(formControl.value)">
        <option [ngValue]="options[0]" selected>{{ formatter(options[0]) }}</option>
    </select>
</ng-container>
<ng-container *ngIf="options.length !== 1">
    <select class="form-control" [formControl]="formControl" required (change)="onValueChanged.emit(formControl.value)">
        <option disabled selected><span translate>Please select</span></option>
        <option *ngFor="let option of options" [ngValue]="option">{{ formatter(option) }}</option>
    </select>
</ng-container>