<div class="container">

    <div class="row">
        <div class="col-12">

            <form [formGroup]="formArray">

                <div class="row">
                    <div class="col-12 mb-2">
                        <span translate>Please build your extended search.</span>
                    </div>
                </div>

                <div class="row mb-2 text-bold">
                    <div class="col-4 col-sm-4">
                        <span translate>Property</span>
                    </div>
                    <div class="col-4 col-sm-6">
                        <span translate>Value</span>
                    </div>
                    <div class="col-4 col-sm-2">
                        <span translate></span>

                    </div>
                </div>

                <div class="row form-group" *ngFor="let formGroup of formArray?.controls">
                    <div class="col-4">
                        <app-form-select [formControl]="formGroup.controls.select"
                                         [options]="searchProperties"></app-form-select>
                    </div>
                    <div class="col-4 col-sm-6">
                        <app-form-input [formControl]="formGroup.controls.input"></app-form-input>
                    </div>
                    <div class="col-4 col-sm-2">
                        <button type="button" class="btn btn-outline-danger" (click)="removeGroup(formGroup.controls)">
                            <span translate>-</span>
                        </button>
                    </div>

                </div>

                <div class="row form-group">
                    <div class="col-12">
                        <button type="button" class="btn btn-outline-success" (click)="addGroup()">
                            <span translate>+</span>
                        </button>
                    </div>
                </div>

                <div class="row form-group">
                    <div class="col-12">
                        <button type="button" class="btn btn-block btn-outline-secondary" (click)="search()">
                            <span translate>Extended search</span>
                        </button>
                    </div>
                </div>

            </form>

        </div>
    </div>

</div>

<div class="divider"></div>

<app-home></app-home>