footer {
    margin: 5rem auto;
    font-size: 0.8rem;

    &.thanks {
        padding: 5rem 0;
        background-color: #FFF;
    }
    img {
        width: 100%;
        max-width: 20rem;
        height: auto;
    }
}