<footer class="licence">
    <div class="container">
        <div class="text-center mb-3">
            <img src="assets/img/CCLizenz.png" alt="cc"/>
        </div>
        <div class="fc-hint text-left">
            <span translate>FOOTER.LICENCE_INFO</span>.
        </div>
    </div>
</footer>
<footer class="thanks">
    <div class="container">
        <div class="text-center mb-3">
            <span translate>FOOTER.PARTNERS_INFO</span>:
        </div>
        <div class="text-center">
            <img src="assets/img/swissuniversities.png" alt="su"/>
            <img src="assets/img/stavrosniarchosfoundation.png" alt="snf"/>
            <img src="assets/img/goehnerfoundation.png" alt="gf"/>
            <img src="assets/img/bindingstiftung.png" alt="bs"/>
            <img src="assets/img/ceramica.png" alt="ce"/>
        </div>
    </div>
</footer>
<footer class="copyright">
    <div class="container">
        <div class="text-center mb-4">
            <img src="assets/img/unibas_full.png" alt="unibas"/>
        </div>
        <div class="fc-hint text-center">
            {{ currentYear}} &copy; <span translate>FOOTER.COPYRIGHT_INFO</span>.
        </div>
    </div>
</footer>
