<header>
    <ngb-progressbar *ngIf="limcService.progressBar.isActive" type="primary" [value]="limcService.progressBar.percent" [height]="'1px'"></ngb-progressbar>
    <div class="spacer" *ngIf="limcService.progressBar.isActive === false"></div>
    <div class="container">
        <div class="row">
            <div class="col-4 col-md-4 title">
                <span class="cursor-pointer" (click)="openHome()"><span class="hidden-sm-down-plus">Digital</span> LIMC</span>
            </div>
            <div class="d-none d-md-block col-md-2 language">
                <div ngbDropdown class="d-inline-block">
                    <button class="btn btn-outline-secondary" ngbDropdownToggle>
                        <span translate>Language</span>
                    </button>
                    <div ngbDropdownMenu>
                        <button class="dropdown-item" (click)="changeLanguage('de')">Deutsch <span *ngIf="translateService.currentLang === 'de'">&#10003;</span></button>
                        <button class="dropdown-item" (click)="changeLanguage('en')">English <span *ngIf="translateService.currentLang === 'en'">&#10003;</span></button>
                        <button class="dropdown-item" (click)="changeLanguage('fr')">Français <span *ngIf="translateService.currentLang === 'fr'">&#10003;</span></button>
                        <button class="dropdown-item" (click)="changeLanguage('it')">Italiano <span *ngIf="translateService.currentLang === 'it'">&#10003;</span></button>
                        <button class="dropdown-item" (click)="changeLanguage('gr')">Eλληνικά <span *ngIf="translateService.currentLang === 'gr'">&#10003;</span></button>
                    </div>
                </div>
            </div>
            <div class="col-8 col-md-6 search" *ngIf="showSearch">
                <div class="input-group">
                    <input class="form-control" type="text" placeholder="{{ 'Search' | translate }}" [(ngModel)]="keyword"
                        (keyup.enter)="search(true)">
                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary cursor-pointer" (click)="search(true)">
                            <span translate>Search</span>
                        </button>
                    </div>
                </div>
                <a routerLink="page/search"><span translate>extended search</span></a>
            </div>
        </div>
    </div>
</header>