<header>
    <ngb-progressbar *ngIf="progressBar.active" type="primary" [value]="progressBar.percent" [height]="'1px'"></ngb-progressbar>
    <div class="spacer" *ngIf="progressBar.active === false"></div>
    <div class="container px-3">
        <div class="row">
            <div class="col-7 title">
                <span class="cursor-pointer" (click)="openHome()">Digital LIMC</span>
            </div>
            <div class="col-5 language text-right">
                <div ngbDropdown class="d-inline-block">
                    <button class="btn btn-secondary" ngbDropdownToggle>
                        <span translate>Language</span>
                    </button>
                    <div ngbDropdownMenu>
                        <button class="dropdown-item" (click)="changeLanguage('de')">Deutsch <span *ngIf="translateService.currentLang === 'de'">&#10003;</span></button>
                        <button class="dropdown-item" (click)="changeLanguage('en')">English <span *ngIf="translateService.currentLang === 'en'">&#10003;</span></button>
                        <button class="dropdown-item" (click)="changeLanguage('fr')">Français <span *ngIf="translateService.currentLang === 'fr'">&#10003;</span></button>
                        <button class="dropdown-item" (click)="changeLanguage('it')">Italiano <span *ngIf="translateService.currentLang === 'it'">&#10003;</span></button>
                        <button class="dropdown-item" (click)="changeLanguage('gr')">Eλληνικά <span *ngIf="translateService.currentLang === 'gr'">&#10003;</span></button>
                    </div>
                </div>
            </div>
        </div>
        <div class="row search">
            <div class="col-12">
                <div class="input-group">
                    <input class="form-control" type="text" placeholder="{{ 'Search' | translate }}" [(ngModel)]="keyword"
                           (keyup.enter)="search(true)">
                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary cursor-pointer" (click)="search(true)">
                            <span translate>GENERAL.SEARCH</span>
                        </button>
                    </div>
                    <div class="input-group-append ml-3">
                        <button class="btn btn-outline-secondary cursor-pointer" routerLink="page/search">
                            <span translate>GENERAL.ADVANCED_SEARCH</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>