<header>
    <ngb-progressbar *ngIf="limcService.progressBar.isActive" type="primary" [value]="limcService.progressBar.percent" [height]="'1px'"></ngb-progressbar>
    <div class="spacer" *ngIf="limcService.progressBar.isActive === false"></div>
    <div class="container">
        <div class="row">
            <div class="col-4 col-md-6 title">
                <span class="cursor-pointer" (click)="openHome()"><span class="hidden-sm-down-plus">Digital</span> LIMC</span>
            </div>
            <div class="col-8 col-md-6 search" *ngIf="showSearch">
                <div class="input-group">
                    <input class="form-control" type="text" placeholder="Suchen" [(ngModel)]="keyword"
                        (keyup.enter)="search()">
                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary cursor-pointer" (click)="search()">Suchen</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>