<div class="page">

    <div class="row">
        <div class="col-12 m-auto col-sm-9 col-lg-6">

            <div class="card">
                <img class="card-img-top" src="assets/img/limc.jpg" alt="limc" />
                <div class="card-body">
                    <h1 class="card-title">WebLIMC</h1>

                    <p class="card-text">
                        The wealth of ancient myths and legends which we call Classical Mythology is one of the major elements of our cultural heritage.
                        A huge amount of documents and photographs were assembled in the course of the preparation of the Lexicon Iconographicum Mythologiae Classicae (LIMC; 1981-1999 and 2009) and the Thesaurus Cultus et Rituum Antiquorum (ThesCRA; 2004-2014).
                        This dataset is regularly updated and enhanced with new documents. </p>

                    <p class="card-text">
                        weblimc.org gives access to the digital ressources (ca. 50'000 ancient objects and photographs) provided by three components of the late Foundation for the LIMC: </p>

                    <div class="row">

                        <div class="col-12 col-sm-4">
                            <div class="link cursor-pointer" (click)="openHome()">
                                <div class="img"><img src="assets/img/unibas.jpg" alt="unibas" /></div>
                                <div class="title">Digital LIMC</div>
                            </div>
                        </div>
                        <div class="col-12 col-sm-4">
                            <div class="link cursor-pointer" onclick="location.href='http://www.limc-france.fr'">
                                <div class="img"><img src="assets/img/limcfrance.jpg" alt="france" /></div>
                                <div class="title">LIMC France</div>
                            </div>

                        </div>
                        <div class="col-12 col-sm-4">
                            <div class="link">
                                <div class="img"><img src="assets/img/default.jpg" alt="greece" /></div>
                                <div class="title">LIMC Greece</div>
                            </div>
                        </div>

                    </div>

                    <p><strong>Digital LIMC:</strong> the archives of the Foundation for the LIMC that have been transfered to the University of Basel.</p>
                    <p><strong>LIMC France:</strong> digital ressources on Greek, Etruscan and Roman iconography and objects </p>
                    <p><strong>LIMC Greece:</strong> data on objects from recent excavations in Greece.</p>

                    <p class="card-text">
                        For copyright reasons the access to the images is restricted to images from institutions which have given permission for diffusion on weblimc.org. The copyright of the images remains with these institutions. The re-use of the images provided here for any purpose is illegal and only allowed with the permission of the respective copyright holder. </p>


                    <p>Contact: <a class="card-link" href="mailto:limcbasel@unibas.ch">limcbasel@unibas.ch</a> and <a
                        href="mailto:UMR7041limc-france@cnrs.fr">UMR7041limc-france@cnrs.fr</a></p>
                </div>
            </div>

        </div>
    </div>
</div>

<footer class="copyright">
    <div class="container">
        <div class="fc-hint text-center">{{ currentYear}} &copy; <span translate>FOOTER.COPYRIGHT_INFO</span>.</div>
    </div>
</footer>
