<div class="container" *ngIf="monuments.length > 0">

    <div class="info">
        {{ monuments.length }} <span translate>monuments found</span>.
        <!--<button class="btn btn-sm btn-outline-secondary ml-2 mb-1" (click)="onScrolled()" [disabled]="limcService.progressBar.isActive">
            <span translate [class]="limcService.runningSubscriptions > 0 ? 'mr-2' : ''">Search more</span>
            <app-spinner [size]="'0.875rem'" *ngIf="limcService.runningSubscriptions > 0"></app-spinner>
        </button>-->
    </div>

    <div class="row" infiniteScroll [infiniteScrollDistance]="2" [infiniteScrollThrottle]="50"
         (scrolled)="onScrolled()">
        <div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-4 mt-3"
             *ngFor="let monument of monuments">
            <app-monument-list-element [monument]="monument"></app-monument-list-element>
        </div>
    </div>

    <div class="info">
        <button class="btn btn-outline-secondary ml-2 mb-1" (click)="onScrolled()" [disabled]="limcService.progressBar.isActive">
            <span translate [class]="limcService.runningSubscriptions > 0 ? 'mr-2' : ''">Search more</span>
            <app-spinner [size]="'0.875rem'" *ngIf="limcService.runningSubscriptions > 0"></app-spinner>
        </button>
    </div>

</div>

<div class="container" *ngIf="monuments.length === 0">
    <div class="loading">
        <ng-container *ngIf="limcService.runningSubscriptions > 0">
            <div class="spinner"><app-spinner [size]="'2rem'"></app-spinner></div>
            <span translate>Loading data</span>...
        </ng-container>
        <ng-container *ngIf="limcService.runningSubscriptions === 0">
            <span translate>No monuments found</span>.
        </ng-container>
    </div>
</div>