<div class="container" *ngIf="monuments.length > 0">

    <div class="info">
        {{ monuments.length }} <span translate>monuments found</span>.
        <button class="btn btn-sm btn-outline-secondary ml-2 mb-1" (click)="onScrolled()" [disabled]="limcService.progressBar.isActive"><span translate>Search more</span></button>
    </div>

    <div class="row" infiniteScroll [infiniteScrollDistance]="2" [infiniteScrollThrottle]="50"
         (scrolled)="onScrolled()">
        <div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-4 mt-3"
             *ngFor="let monument of monuments">
            <app-monument-list-element [monument]="monument"></app-monument-list-element>
        </div>
    </div>

    <div class="info">
        <button class="btn btn-outline-secondary ml-2 mb-1" (click)="onScrolled()" [disabled]="limcService.progressBar.isActive"><span translate>Search more</span></button>
    </div>

</div>

<div class="container" *ngIf="monuments.length === 0">
    <div class="loading">
        <ng-container *ngIf="limcService.progressBar.isActive">
            <span translate>Loading data</span>...
        </ng-container>
        <ng-container *ngIf="limcService.progressBar.isActive === false">
            <span translate>No monuments found</span>.
        </ng-container>
    </div>
</div>