<footer class="thanks">
    <div class="container">
        <div class="text-center mb-3">The digitization of the LIMC archive in Basel was enabled thanks to grants by:</div>
        <div class="text-center"><img src="assets/img/swissuniversities.png" alt="su" /> <img src="assets/img/stavrosniarchosfoundation.png" alt="snf" /></div>
    </div>
</footer>
<footer class="copyright">
    <div class="container">
        <div class="fc-hint text-center">2017 &copy; LIMC Basel und DHlab, Universität Basel.</div>
    </div>
</footer>