/*************/
/* VARIABLES */
/*************/


$font-color-primary: rgba(0, 0, 0, 0.87);
$font-color-secondary: rgba(0, 0, 0, 0.54);
$font-color-muted: rgba(0, 0, 0, 0.38);

$font-size-300: 3rem;
$font-size-200: 2rem;
$font-size-100: 1rem;
$font-size-80: 0.8rem;

$bg-color-gray: rgb(200, 200, 200);
$bg-color-light-gray: rgb(240, 240, 240);
$bg-color-white: #FFFFFF;

$border-light: 1px solid $bg-color-light-gray;
$border-dark: 1px solid $bg-color-gray;