<ng-template #modal let-c="close" let-d="dismiss">
    <div class="image">
        <img src="{{ photos[activeIndex].url }}" alt="img"/>
        <div class="left cursor-pointer" (click)="previous()">
            <span class="carousel-control-prev-icon"></span>
        </div>
        <div class="right cursor-pointer" (click)="next()">
            <span class="carousel-control-next-icon"></span>
        </div>
    </div>
    <div class="row p-3">
        <div class="col-4 col-sm-2 text-left">
            <button type="button" class="btn btn-outline-secondary" (click)="previous()">
                <i class="icon-arrow-left"></i></button>
        </div>
        <div class="col-4 col-sm-8 text-center">
            <div>
                <span translate [translateParams]="{ i: activeIndex + 1, n: photos.length  }">MONUMENT.IMAGE_I_OF_N</span>
            </div>
            <div class="d-none d-sm-block">
                <span translate>MONUMENT.PHOTO_RIGHTS</span>:
                {{ photos[activeIndex].hasPhotoRight !== null ? photos[activeIndex].photoCredit : credits.join(", ") }}
            </div>
        </div>
        <div class="col-4 col-sm-2 text-right">
            <button type="button" class="btn btn-outline-secondary" (click)="next()">
                <i class="icon-arrow-right"></i></button>
        </div>
    </div>
</ng-template>